/* Fill in all the CSS rules. All the selectors you need are listed */

/* CSS reset */

* {
  box-sizing: boder-box;  
  margin: 0px;
  padding: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body  */

body {
  border-radius: 20px;
  box-sizing: border-box;
  border-width: 350px;
 
  
}

.card {
  
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  
  width:350px;
  
}

img {
 
  
  border-radius: 20px 20px 0 0;
  margin-right: 15px;
  height:264px;
  width:350px;
}

.card-text {
  
  border-radius: 20px;
  height:240px;
  
  
}

.category {
  font-size: 12px;
  color: Blue;
  
  padding-top: 14px;
  padding-bottom: 7px;
  
}

h2 {
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
}

p {
  padding: 10px 15px 15px 15px;
  color:rgb(63,63,63);
}
